body {
    font-family: 'Verdana', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f05011, #06ece1d5);
    color: white;
}

#countdown {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#timer {
    display:flex;
    font-size: 3rem;
    letter-spacing: 3px;
    
}

.timer-unit {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    display: block;
}

@media (max-width: 600px) {
    #timer {
        font-size: 2rem;
    }
    .timer-unit {
        font-size: 1rem;
    }
}